@import 'https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,300&family=Rajdhani&display=swap';
@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';



#header .navbar-collapse ul {
    list-style: none;
    position: static;
    background-color: transparent;
    left: 0;
    top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 5s ease left;
}

#header .navbar-collapse ul a {
    font-size: .7rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    display: block;
}

#header .navbar-collapse ul a:hover{
    color: rgb(48, 121, 190);
    font-weight: 500;
    font-size: 1rem;
    border-top: thistle 4px solid;
    border-bottom: thistle 4px solid;
    transition: .4s ease;
}


#header {
    background-color: rgb(0, 0, 0);
}

#header .navbar-nav .nav-link.active {
    border-top: thistle 4px solid;
    border-bottom: thistle 4px solid;
}

/* nav button */

#header .navbar-toggler {
    background: transparent;
    border: 3px solid white;
    padding: 15px 10px;
    outline: none;
    border-radius: 50%;
}

#header .navbar-toggler:hover{
    border: 6px solid white;
}


#header .navbar-toggler span{
    display: block;
    width: 30px;
    height: 2px;
    border: 1px;
    background: white;

}

#header .navbar-toggler span + span{
    margin-top: 6px;
    width: 30px;
}

#header .navbar-toggler span + span + span{
    width: 30;

}

#header .container span{
    text-align: inherit;
    font-size: 1.3rem;
}

/* end of nav button */
